*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#main-grid{
    height: 900px;
    width: 900px;
    max-height: 900px;
    max-width: 900px;
    padding: 0;
    display: flex;
    flex-direction: column;
    border: 1px solid red;
}
.row{
    width: 100%;
    height: 100%;
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0);
}
.square{
    width: 100%;
    height: 100%;
    border: 1px solid rgba(255, 255, 255, 0);
    user-select: none;
}
.draw{
    background-color: black;
    border: 1px solid black;
}
.erase{
    background-color: white;
}

.left-pannel{
    height: 100%;
    width: 500px;
    border: 1px solid red;
}
.right-pannel{
    height: 100%;
    width: 500px;
    border: 1px solid red;
}